@use 'sass:math';
@use '/styles/core/core' as *;

//***********************************************************************
//  Headings
//***********************************************************************
h1, h2, h3, h4, h5, h6 {
    margin-bottom: spacer(1);
    font-family:   inherit;
    font-weight:   700;
    line-height:   1.5;
    color:         $headings-color;
    box-decoration-break: clone;
    @include text-kerning;

    @include darkmode {
        color: $dark-headings-color;
    }
}

h1 { font-size: 1.5rem; }
h2 { font-size: 1.4rem; }
h3 { font-size: 1.3rem; }
h4 { font-size: 1.2rem; }
h5 { font-size: 1.1rem; }
h6 { font-size: 1rem; }

@include breakpoint-up {
    h1 { font-size: 2.25rem; }
    h2 { font-size: 2rem; }
    h3 { font-size: 1.75rem; }
    h4 { font-size: 1.5rem; }
    h5 { font-size: 1.25rem; }
    h6 { font-size: 1rem; }
}

.lead {
    font-size: 1.5rem;
    line-height: 1.3;
    box-decoration-break: clone;
    @include text-kerning;

    @include breakpoint-up {
        font-size: 2rem;
    }
}

//***********************************************************************
//  Text styles
//***********************************************************************
.font-kerning { font-feature-settings: "pkna"; }

.text-muted {
    color: $muted-color !important;

    @include darkmode {
        color: $dark-muted-color !important;
    }
}

.text-heading {
    color: $headings-color !important;

    @include darkmode {
        color: $dark-headings-color !important;
    }
}

.text-hide {
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
}

.text-clamp-1 { @include text-clamp(1); }
.text-clamp-2 { @include text-clamp(2); }
.text-clamp-3 { @include text-clamp(3); }

small,
.small {
    display: inline-block;
    font-size: 0.8125rem;
    font-weight: normal;
    line-height: 1.5;
}