@use 'sass:math';
@use '/styles/core/core' as *;

//***********************************************************************
//  Radio, Checkbox
//***********************************************************************
.form-control-checkbox {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &::after {
        content: '';
        position: absolute;
        z-index: -1;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: linear-gradient(90deg, rgba(0,0,0,0.05), rgba(0,0,0,0));
        border-radius: 999px;
        opacity: 0;
    }

    @include hover-mouse {
        &::after {
            opacity: 1;
        }
    }

    input[type="checkbox"],
    input[type="radio"] {
        flex: 0 0 auto;
        appearance: none;
        cursor: pointer;
        position: relative;
        display: inline-block;
        width: 22px;
        height: 22px;
        background-color: $input-border-color;
        border: 2px solid transparent;

        @include focus-mouse {
            border-color: $border-color;
        }

        @include darkmode {
            background-color: $dark-input-border-color;

            @include focus-mouse {
                border-color: $dark-border-color;
            }
        }

        &::after {
            content: '';
            position: absolute;
            z-index: 2;
            opacity: 0.1;

            top: 1px;
            left: 6px;
            width: 6px;
            height: 12px;
            border-bottom: 2px solid black;
            border-right: 2px solid black;
            transform: rotate(45deg);
        }

        &:checked {
            background-color: $link-color;

            &::after {
                opacity: 1;
                border-color: white;
            }
        }
    }

    input[type="checkbox"] {
        @include rounded(4px);
    }

    input[type="radio"] {
        border-radius: 100px;
    }

    label {
        flex: 1 1 auto;
        user-select: none;
        cursor: pointer;
        margin: 0;
        padding-left: spacer(0.5);
        color: $body-color;
        font-size: $input-font-size;
        font-weight: normal;
        line-height: $icon-size;
        text-shadow: $text-shadow-white;

        @include darkmode {
            color: $dark-body-color;
        }
    }

    + .form-control-feedback {
        &::after {
            left: 4px;
        }
    }

    &.box {
        position: relative;

        input[type="checkbox"],
        input[type="radio"] {
            position: absolute;
            left: spacer(1);
            top: 0;
            bottom: 0;
            margin: auto 0;

            &:checked {
                + label {
                    color: $link-color;
                    border-color: $link-color;
                    background-color: lighten($link-color, 30%);
                }
            }
        }

        label {
            width: 100%;
            border: $border-width solid $input-border-color;
            padding: spacer(1) spacer(1.5) spacer(1) spacer(3);
            @include rounded;

            @include darkmode {
                border-color: $dark-input-border-color;
            }

            img {
                width: auto;
                height: 40px;

                @include breakpoint-up {
                    height: 80px;
                }
            }
        }
    }
}

.form-control-switch {
    appearance: none;
    cursor: pointer;
    display: block;
    position: relative;
    width: $icon-size * 2;
    height: $icon-size;
    background-color: $input-border-color;
    border: 2px solid transparent;
    border-radius: 9999px;
    transition: background 100ms $easing, border 100ms $easing;

    @include focus-mouse {
        border-color: $border-color;
    }

    @include darkmode {
        background-color: $dark-input-border-color;

        @include focus-mouse {
            border-color: $dark-border-color;
        }
    }

    &::after {
        content: '';
        position: absolute;
        top: math.div($icon-size - 22px, 2);
        left: math.div($icon-size - 22px, 2);
        z-index: 2;
        width: 18px;
        height: 18px;
        border-radius: 9999px;
        background-color: white;
        transition: transform 100ms $easing;
    }

    &:checked {
        background-color: $link-color;

        @include focus-mouse {
            background-color: lighten($link-color, 5%);
        }

        &::after {
            transform: translateX($icon-size);
        }
    }
}

//***********************************************************************
//  Theme
//***********************************************************************
@each $key, $color in $themes {
    .is-#{"" + $key} {
        &.form-control-checkbox {
            input[type="checkbox"],
            input[type="radio"] {
                &:checked {
                    background-color: $color;

                    + label {
                        color: $color;
                    }
                }
            }
        }
    }
}