@use 'sass:math';
@use '/styles/core/core' as *;

.help {
    position: absolute;
    z-index: $zindex-overlay;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    cursor: pointer;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.help-enter,
.help-exit {
    @include transition(opacity);
    will-change: opacity;
}

.help-enter,
.help-exit-active {
    opacity: 0;
}

.help-enter-active {
    opacity: 1;
}

.help-item {
    user-select: none;
    position: absolute;
    background-color: $brand-brown;
    background-image: repeating-linear-gradient(135deg, transparent, transparent 8px, rgba(0,0,0,0.05) 8px, rgba(0,0,0,0.05) 16px);
    border-radius: spacer(0.5);
    color: white;
    margin: 0 spacer(1);
    padding: spacer(1.5) spacer(1.5) spacer(2.25);
    box-shadow: 0 2px 12px rgba(0,0,0,0.4);

    @include transition((transform, opacity));
    opacity: 0;

    &.active {
        opacity: 1;
    }

    &::before {
        content: '';
        position: absolute;
        z-index: -1;
        border: 4px solid $brand-danger;
        border-radius: 4px;
        animation: help_flash 1s linear infinite;
    }

    &::after {
        content: '';
        position: absolute;
        z-index: 1;
        top: -15px;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 10px 16px 10px;
        border-color: transparent transparent $brand-brown transparent;
    }

    .title {
        display: block;
        font-size: 1rem;
        font-weight: bold;
        line-height: 1.3;
        margin-bottom: spacer(1);
    }

    .body {
        font-size: 1rem;
        line-height: 1.6;

        small {
            display: block;
            font-size: 0.875em;
            margin-top: spacer(1);
            border-left: 2px solid $brand-primary;
            padding-left: spacer(0.5);
        }
    }

    .tips {
        position: absolute;
        z-index: 10;
        left: 0;
        right: 0;
        bottom: -12px;
        background-color: $brand-primary;
        border-radius: 999px;
        width: 200px;
        margin: 0 auto;
        box-shadow: 0 2px 6px rgba(0,0,0,0.2);
        line-height: $icon-size;
        font-size: 0.875rem;
        text-align: center;
    }
}

@keyframes help_flash {
    50% { opacity: 0.4; }
    100% { opacity: 1; }
}

.help-next {
    @include button-reset;
    width: 100%;
    background-color: rgba(255,255,255,0.3);
    backdrop-filter: blur(10px);
    padding: spacer(3);
    border-top: 1px solid $border-color;
    border-bottom: 1px solid $border-color;
    color: $brand-primary;
}

.help-videolist {
    .help-item {
        &:nth-child(1) {
            top: 120px;

            &::before {
                top: -62px;
                left: -7px;
                width: 323px;
                height: 58px;
            }

            &::after {
                left: 40%;
            }
        }

        &:nth-child(2) {
            top: 120px;

            &::before {
                top: -62px;
                right: -10px;
                width: 58px;
                height: 58px;
            }

            &::after {
                right: 10px;
            }
        }

        &:nth-child(3) {
            top: 54px;

            &::before {
                top: -50px;
                left: -12px;
                width: 256px;
                height: 44px;
            }

            &::after {
                left: 30%;
            }
        }

        &:nth-child(4) {
            top: 54px;

            &::before {
                top: -50px;
                right: 72px;
                width: 44px;
                height: 44px;
            }

            &::after {
                right: 84px;
            }
        }

        &:nth-child(5) {
            top: 54px;

            &::before {
                top: -50px;
                right: 30px;
                width: 44px;
                height: 44px;
            }

            &::after {
                right: 42px;
            }
        }

        &:nth-child(6) {
            bottom: 94px;

            &::before {
                bottom: -90px;
                left: 80px;
                width: 110px;
                height: 68px;
            }

            &::after {
                top: auto;
                left: 124px;
                bottom: -25px;
                transform: rotate(180deg);
            }
        }
    }
}

.help-setlist {
    .help-item {
        &:nth-child(1) {
            top: 120px;

            &::before {
                top: -62px;
                left: -7px;
                width: 323px;
                height: 58px;
            }

            &::after {
                left: 40%;
            }
        }

        &:nth-child(2) {
            top: 120px;

            &::before {
                top: -62px;
                right: -10px;
                width: 58px;
                height: 58px;
            }

            &::after {
                right: 10px;
            }
        }

        &:nth-child(3) {
            top: 54px;
            border-top-left-radius: 0;

            &::before {
                top: -50px;
                left: -12px;
                width: 44px;
                height: 44px;
            }

            &::after {
                left: 0;
            }
        }

        &:nth-child(4) {
            top: 54px;

            &::before {
                top: -50px;
                left: 30px;
                width: 118px;
                height: 44px;
            }

            &::after {
                left: 80px;
            }
        }

        &:nth-child(5) {
            top: 54px;

            &::before {
                top: -50px;
                left: 143px;
                width: 154px;
                height: 44px;
            }

            &::after {
                left: 210px;
            }
        }
    }
}